:root {
    /* Colors */
    --primary: #3d5a80;
    --sub-primary: #e0fbfc;
    --secondary: #98c1d9;
    --on-primary: #000000;
    --on-secondary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, a, button {
    font-family: 'Ubuntu', sans-serif;
}

#main-header {
    position: sticky;
    top: 0;
    background-color: var(--on-secondary);
    z-index: 1000;
}

.main-app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--on-secondary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-app-bar-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-app-bar-title img {
    width: 48px;
}

.main-app-title {
    font-weight: 700;
    font-size: 2rem;
}

.main-nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem 2.5rem;
}

.main-menu-icon {
    display: none;
    padding: 4px 6px 0;
    border-radius: 8px;
    margin-left: auto;
    cursor: pointer;
}

.main-menu-icon svg {
    color: var(--primary);
}

.main-nav a {
    color: var(--on-primary);
    padding: 14px 28px;
    font-weight: 500;
    border-radius: 12px;
    font-size: 1.35rem;
    text-decoration: none;
}

.main-nav-list .user-button {
    display: flex;
    align-items: center;
}

.main-nav-list .user-button button {
    background: none;
    border: none;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: var(--on-primary);
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
}

.main-nav-list .user-button img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.transac-main {
    margin: 2rem 4rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.filter-container {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    padding: 2rem;
    gap: 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filter-title {
    font-size: 1.45rem;
    color: var(--on-secondary);
}

.filter-container input[type="date"] {
    padding: 11px;
    border: 1px solid var(--on-primary);
    border-radius: 6px;
    background-color: var(--on-secondary);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    width: 260px;
}

.filter-container span {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: var(--on-secondary);
}

.apply-button {
    padding: 12px 24px;
    background-color: var(--on-secondary);
    color: var(--primary);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25rem;
}

.transac-content {
    display: flex;
    flex-flow: column nowrap;
}

.table-title {
    display: flex;
    padding: 1.5rem;
    font-size: 1.15rem;
    justify-content: center;
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: var(--primary);
    color: var(--sub-primary);
    text-align: center;
}

.transac-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--primary);
    border-width: 0 1px;
}

.transac-table th, .transac-table td {
    border-bottom: 1px solid var(--primary);
    padding: 12px;
    text-align: center;
}

.transac-table th {
    background-color: var(--sub-primary);
    padding: 1.25rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.35rem;
}

.transac-table td {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 2rem 1.25rem;
}

.transac-table .special-row {
    background-color: var(--secondary);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: center;
}

.special-row td {
    padding: 1.25rem;
}

.transac-table .summary td {
    font-family: 'Ubuntu', sans-serif;
}

footer {
    background-color: var(--primary);
    color: var(--on-secondary);
    padding: 1rem 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

.footer-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}