@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #6c757d;
  --first: #3d5a80;
  --second: #98c1d9;
  --third: #e0fbfc;
  --fourth: #ecf1f3;
  --ubuntu: "Ubuntu", sans-serif;
  --sans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  transition: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--fourth);
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid var(--first);
  box-shadow: 0 0.5px 1px var(--first);
  height: 12vh;
}

.titleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.titleHeader p {
  font-family: var(--ubuntu);
  color: var(--first);
  font-size: 18px;
  font-weight: bold;
}

.titleHeader img {
  width: 40px;
  margin: 10px;
}

.buttonHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background: var(--white);
  color: var(--first);
  font-family: var(--ubuntu);
  font-size: 16px;
  z-index: 1;
  position: relative;
  transition: all 350ms;
  overflow: hidden;
}

.navButton:hover {
  font-weight: bold;
}

.navButton:hover::before {
  width: 100%;
}

.accountHeader {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.accountHeader img {
  width: 25px;
  border: 2px solid var(--first);
  border-radius: 50%;
  margin-bottom: 5px;
}

.accountHeader p {
  font-size: 12px;
  font-family: var(--sans);
}

.resourceSection {
  display: flex;
  background-color: var(--first);
  margin: 20px;
  height: 15vh;
  border-radius: 10px;
  justify-content: space-evenly;
}

.subInput {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.subInput p {
  color: var(--white);
  margin: 10px;
  font-family: var(--ubuntu);
  font-weight: lighter;
  font-size: 15px;
}

.inputForm {
  width: 35vh;
  height: 4vh;
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--fourth);
  border-radius: 10px;
  border: 0.5px solid var(--first);
  background-color: var(--white);
  font-family: var(--ubuntu);
  font-weight: light;
  font-size: 13px;
  text-align: center;
  color: var(--gray);
  transition: background-color 0.3s; /* Add transition for a smooth effect */
}

.inputForm:focus {
  outline: none;
}

.buttonResource {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 15vh;
  height: 5vh;
  border-radius: 5px;
  border: 0.5px solid var(--first);
  background: var(--white);
  color: var(--first);
  font-family: var(--ubuntu);
  font-weight: bold;
  font-size: 15px;
  position: relative;
  transition: all 350ms;
  overflow: hidden;
}

.mainButton:active,
.navButton:active {
  transform: scale(0.9);
}

#addProduct,
#searchProduct,
#checkoutCart {
  background-color: var(--first);
  color: var(--white);
}

#removeProduct:hover,
#resetCart:hover,
#resetResource:hover {
  background-color: #e5383b;
  color: var(--white);
  border: none;
}
.mainSearch {
  display: flex;
  align-items: center;
  margin-left: 140px;
}

.productSection {
  display: flex;
  justify-content: center;
}

.mainProduct {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 6px;
}

.subProduct {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 15px;
  justify-content: center;
  background-color: var(--white);
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0.5px 0.5px 5px var(--black);
}

.productImage {
  display: flex;
  justify-content: center;
}

.productImage img {
  width: 25vh;
  height: 25vh;
  object-fit: fill;
  border-radius: 10px;
}

.productDescription h1 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--ubuntu);
  color: var(--first);
}

.productDescription h2 {
  text-align: center;
  font-size: 12px;
  font-family: var(--sans);
  color: var(--gray);
  margin: 5px;
}

.buttonProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartSection {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 70%;
  width: 35%;
  background-color: var(--primary-bg-color);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 0px 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
  border: 1.5px ridge var(--first);
  border-top: none;
  border-right: none;
  transform: translateX(100%);
}

.cartSection.show {
  display: block;
  transform: translateX(0%);
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second);
  height: 7vh;
  border-bottom: 1.5px solid var(--first);
}

.cartHeader p {
  color: var(--first);
  font-size: 15px;
  font-family: var(--ubuntu);
  font-weight: bold;
  margin-left: 10px;
}

.cartHeader img {
  width: 20px;
  border: 1.4px solid var(--first);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--white);
}

.cartHeader img:active {
  transition: all 350ms;
  transform: scale(0.8);
}

.cartList {
  max-height: 40%;
  overflow-y: auto;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  height: 10vh;
  border-bottom: 1px solid var(--first);
}

.cartItem img {
  width: 7vh;
  height: 7vh;
  object-fit: fill;
  border-radius: 5px;
  margin-left: 10px;
}

.detailItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  font-family: var(--ubuntu);
  font-weight: bold;
  color: var(--first);
  width: 50%;
}

#productPrice {
  font-size: 12px;
  font-family: var(--sans);
  font-weight: bold;
  color: var(--gray);
}

.quantityItem {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: var(--ubuntu);
  font-weight: bold;
  color: var(--first);
  width: 20%;
}

.cartFooter {
  display: flex;
  flex-direction: column;
  background-color: var(--second);
  border-top: 1.5px solid var(--first);
  height: 50%;
  border-radius: 0px 0px 0px 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  -moz-border-radius: 0px 0px 0px 15px;
}

.totalFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: var(--first);
  font-size: 15px;
  font-family: var(--ubuntu);
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid var(--first);
}

.paymentFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  color: var(--first);
  font-size: 15px;
  font-family: var(--ubuntu);
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid var(--first);
}

.buttonFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
